h2 {
  padding-left: 30px;
}

.box {
  width: 900px;
  margin: 10px auto;
  display: block;
}
.whole {
  margin: 20px auto;
  max-width: 700px;
  padding: 10px;
}
.container {
  border: solid 4px;
  border-color: rgba(2, 244, 244, 0.479);
  background-color: rgba(129, 217, 231, 0.158);
  border-radius: 25px;
}

#searching {
  font-family: "Quicksand", sans-serif;
  font-size: 18px;
  margin-top: 10px;
  text-align: center;
}
.source {
  margin: 0 auto 0 50px;
}
#currentbutton {
  display: block;
  margin: 10px auto;
}
.brief {
  margin-bottom: 0px;
}
li {
  list-style: none;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 17px;
  margin: 0;
  padding: 0;
  text-transform: capitalize;
}

#templine {
  padding-left: 15px;
}
#defaulttemp {
  font-size: 40px;
  padding-top: 10px;
}
#weather-unit {
  position: relative;
  font-size: 15px;
  top: -17px;
}
