p2 {
  font-size: xx-large;
}
p3 {
  font-size: xx-large;
}
.box {
  width: 800px;
  margin: 10px auto;
  text-align: center;
  display: block;
}
.container {
  border: solid 4px;
  border-color: rgba(2, 244, 244, 0.479);
  background-color: rgba(129, 217, 231, 0.158);
  border-radius: 25px;
  margin: 50px;
  max-width: fit-content;
  padding: 25px 25px 25px 25px;
}
#searching {
  border-color: rgb(241, 190, 175);
  box-shadow: 2px 2px 2px rgba(255, 254, 254, 0.568);
  font-family: "Quicksand", sans-serif;
  font-size: 18px;
  margin-top: 10px;
  text-align: center;
}
